/* ======================================================
   Variables
   ====================================================== */
$white: ghostwhite;
$blue: #003b60;
$orange: #ef661c;
$green: #508749;
$yellow: #e9d15f;
$navyblue: #013f4c;


/* ======================================================
   Main
   ====================================================== */

@font-face {
    font-family: Universal;
    src: url(../fonts/universal.ttf);
}

.content {
    color: $white;
    background-color: #2d2d2d;
    margin-bottom: -680px;
}

.content-wrapper{
    height: 100%;
    margin-bottom: -680px;
}

p,h1,h2,h3,h4,h5 {
    font-family: 'Open Sans', sans-serif;
    color: $white;
}

a {
    color: $white;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

/* ======================================================
   Navbar
   ====================================================== */

.navbar {
    height: 100%;
    /*background-color: rgba(0.55, 0.55, 0.55, 0.66);*/
    background-color: #000;
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar-brand {
}

.navbar-brand img {
    max-height: 30px;
}

/* ======================================================
   Video
   ====================================================== */

#videowrapper {
    height: 80vh;
    position: relative;
    z-index: 0;
    border: none;
}

@media screen and (max-width: 992px) {
        #videowrapper {
        height: 40vh;
    }
}

video { 
    position: absolute;
    width: 100%;
    top: -70px;
    left: 0px;
    bottom: 0;
    right: 0px;
    overflow: hidden;
    z-index: -1;
}

/* ======================================================
   Boxes
   ====================================================== */


.box-row-1 {
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    position: relative;
    height: 100%;
    z-index: 1;
}

.box-row-2 {
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    position: relative;
    height: 100%;
    z-index: 2;
    top: -100px;
}

.box-row-3 {
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    position: relative;
    height: 100%;
    z-index: 3;
    top: -200px;
}

.box-row-4 {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    position: relative;
    height: 1024px;
    z-index: 4;
    top: -340px;
    margin-bottom: -100px;
}

.box-row-5 {
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    position: absolute;
    height: 450px;
    width: 100%;
    z-index: 5;
    bottom: 0px;
}

.box {
    position: relative;
    padding: 4em !important;
    height: 100%;
    min-height: 480px;
    overflow: hidden;
    transition:all 0.5s ;
        -webkit-transition:all 0.5s ;
        -o-transition:all 0.5s ;
        -moz-transition:all 0.5s ;
}

a:hover .box, a:focus .box {
    cursor: pointer;
    text-decoration: none;
    background-position: center;
    background-size: 120%;
}

.box-header {
    /*font-family: 'Bungee Inline', cursive;*/
    text-align: left;
    font-family: 'Cabin Sketch', cursive;
    font-size: 4em;
    color: $white;
    font-weight: 700;
    //border-bottom: 4px solid white;
    padding-bottom: 10px;
    //width: 400px;
    text-transform: uppercase;    
}

.skillelinjeA {
    max-width: 350px;
    min-width: 150px;
    height: 2px;
    background: #fff;
    text-align: left;
    margin: -10px auto auto 0;
}

.skillelinjeB {
    max-width: 500px;
    min-width: 150px;
    height: 2px;
    background: #fff;
    text-align: left;
    margin: -10px auto auto 0;
}

.box-paragraph {
    padding-top: 10px;
    font-family: 'Cabin Sketch', cursive;
    font-size: 1.33em;
}

@media screen and (max-width: 992px) {
    .box-row-1, .box-row-2, .box-row-3 {
        -webkit-clip-path: none;
        clip-path: none;
    }
    
    .info, .program, .partnere {
        -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
        top: 100px;
        }
    
    .countdown, .mad, .talent {
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        top: 50px;
        }
    
    .box-header {
        font-size: 3em;
    }
    
    .box-paragraph {
        font-size: 2em;
    }
}

/* ======================================================
   Individual boxes
   ====================================================== */

.info {
    background-color: #003b60;
    background-position: center;
    background-size: 100%;
    padding-top: 5em !important;
}



.program {
    background-color: #e9d15f;
    background: 
        linear-gradient(
            rgba(233, 209, 95, 0.80),
            rgba(233, 209, 95, 0.80)
            ),
            url(../img/field.jpg);
    background-position: center;
    background-size: 100%;
    padding-top: 7em !important;
}

.mad {
    background-color: #508749;
    background: 
        linear-gradient(
            rgba(80, 135, 73, 0.80),
            rgba(80, 135, 73, 0.80)
            ),
            url(../img/food.jpg);
    background-position: center;
    background-size: 100%;
    padding-top: 5em !important;
}

.partnere {
    background-color: lightblue;
    background: 
        linear-gradient(
            rgba(66, 180, 230, 0.80),
            rgba(66, 180, 230, 0.80)
            ),
            url(../img/pen_partner.jpg);
    background-position: center;
    background-size: 100%;
    padding-top: 5em !important;
}

.talent {
    background-color: #ef661c;
    background: 
        linear-gradient(
            rgba(239, 102, 28, 0.80),
            rgba(239, 102, 28, 0.80)
            ),
            url(../img/field.jpg);
    background-position: center;
    background-size: 100%;
    padding-top: 7em !important;
}

/* ======================================================
   Countdown
   ====================================================== */

.countdown {
    background-color: #1d1d1d;
    padding-top: 7em !important;
    align-items: center;
    padding-left: 2em;
    font-family: 'Bungee', cursive;
}

#clockdiv{
    height: 100px;
    width: 100%;
    color: #fff;
    font-weight: 100;
    text-align: left;
    font-size: 0px;
}

#clockdiv > div{
    display: inline-block;
    margin: 10px 10px 10px 10px;
    padding: 0;
    text-align: center;
}

#clockdiv div > span{
    display: inline-block;
    font-size: 50px;
    text-align: left;
    font-weight: 700;
}

.smalltext{
    font-size: 16px;
    text-align: center;
}

/* ======================================================
   Social Feed
   ====================================================== */

.social-box {
    background-color: #003b60;
    height: 100%;
    padding-top: 7em !important;
}

.social-box .box-header {
    text-align: center !important;
    border: none;
    width: auto;
}

.social-pad {
    background-color: lightseagreen;
    text-align: center;
    min-height: 300px;
    line-height: 160px;
    margin-top: 30px;
}

/* ======================================================
   Footer
   ====================================================== */

.footer {
    padding: 4em;
    background-color: #2d2d2d;
    font-size: 1.5em;
    height: 100%;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
    
}

.footer i {
    text-align: center;
    font-size: 2em;
    min-width: 60px;
    line-height: normal;
}

.footer a {
    color: $white;
    transition:all 0.2s ;
        -webkit-transition:all 0.2s ;
        -o-transition:all 0.2s ;
        -moz-transition:all 0.2s ;
}
.footer a:hover {
    color: #6d6d6d;
}

.contact-footer {
    top: 120px;
}

.contact-footer li{
    position: relative;
    list-style: none;
    height: 2em;
}

.social-buttons {
    height: 2em;
    position: relative;
    top: 200px;
}

.social-buttons li{
    position: relative;
    float: right;
    list-style: none;
    display: inline-block;
}