/* ==========================================================================
   Variables
   ========================================================================== */
$white: ghostwhite;

/* ==========================================================================
   Main
   ========================================================================== */

@font-face {
    font-family: Universal;
    src: url(../fonts/universal.ttf);
}

.content {
    color: ghostwhite;
    background-color: #2d2d2d;
}

.wrapper{
    height: 100%;
}

p,h1,h2,h3,h4,h5 {
    color: $white;
}

a {
    color: ghostwhite;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar {
    height: 100%;
}

.navbar-brand img {
    height: 100%;
}

/* ==========================================================================
   Video
   ========================================================================== */

#indexwrapper {
    height: 100vh;
    position: relative;
    z-index: 10;
    border: none;
}

/* ==========================================================================
   Boxes
   ========================================================================== */


.box-row-1 {
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    clip-path: polyg on(0 0, 100% 10%, 100% 100%, 0 100%);
    position: relative;
    height: 100%;
    z-index: 1;
}

.box-row-2 {
    -webkit-clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    position: relative;
    height: 100%;
    z-index: 2;
    top: -100px;
}

.box-row-3 {
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    position: relative;
    height: 100%;
    z-index: 3;
    top: -200px;
}

.box-row-4 {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    position: relative;
    height: 100%;
    z-index: 4;
    top: -340px;
}

.box-row-5 {
    -webkit-clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    position: relative;
    height: 100%;
    z-index: 5;
    top: -420px;
}

.box {
    position: relative;
    padding: 4em !important;
    height: 100%;
    min-height: 480px;
    overflow: hidden;
    transition:all 0.5s ;
        -webkit-transition:all 0.5s ;
        -o-transition:all 0.5s ;
        -moz-transition:all 0.5s ;
}

a:hover .box, a:focus .box {
    cursor: pointer;
    text-decoration: none;
    background-position: center;
    background-size: 120%;
}

.box-header {
    /*font-family: 'Bungee Inline', cursive;*/
    font-family: Universal;
    font-size: 3em;
    color: ghostwhite;
    font-weight: 400;
    border-bottom: 4px solid white;
    padding-bottom: 10px;
    
}

.box-paragraph {
    font-size: 1.33em;
}

.info {
    background-color: #003b60;
    background: 
        linear-gradient(
            rgba(0, 59, 96, 0.80),
            rgba(0, 59, 96, 0.80)
            ),
            url(http://placehold.it/1000x500);
    background-position: center;
    background-size: 100%;
    padding-top: 5em !important;
}

.countdown {
    background-color: #000;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.80),
            rgba(0, 0, 0, 0.80)
            ),
            url(http://placehold.it/1000x500);
    background-position: center;
    background-size: 100%;
    padding-top: 7em !important;
}

.program {
    background-color: #e9d15f;
    background: 
        linear-gradient(
            rgba(233, 209, 95, 0.80),
            rgba(233, 209, 95, 0.80)
            ),
            url(http://placehold.it/1000x500);
    background-position: center;
    background-size: 100%;
    padding-top: 7em !important;
}

.mad {
    background-color: #508749;
    background: 
        linear-gradient(
            rgba(80, 135, 73, 0.80),
            rgba(80, 135, 73, 0.80)
            ),
            url(../img/food.jpg);
    background-position: center;
    background-size: 100%;
    padding-top: 5em !important;
}

.partnere {
    background-color: lightblue;
    background: 
        linear-gradient(
            rgba(66, 180, 230, 0.80),
            rgba(66, 180, 230, 0.80)
            ),
            url(http://placehold.it/1000x500);
    background-position: center;
    background-size: 100%;
    padding-top: 5em !important;
}

.talent {
    background-color: #ef661c;
    background: 
        linear-gradient(
            rgba(239, 102, 28, 0.80),
            rgba(239, 102, 28, 0.80)
            ),
            url(../img/field.jpg);
    background-position: center;
    background-size: 100%;
    padding-top: 7em !important;
}


/* ==========================================================================
   Social Feed
   ========================================================================== */

.social-box {
    background-color: #003b60;
    height: 960px;
    padding-top: 7em !important;
}

.social-box .box-header {
    text-align: center;
    border: none;
}

.social-pad {
    background-color: lightseagreen;
    text-align: center;
    min-height: 300px;
    line-height: 160px;
    margin-top: 30px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
    padding: 4em;
    background-color: #2d2d2d;
    height: 360px;
    font-size: 1.5em;
    
}

.footer i {
    text-align: center;
    font-size: 2em;
    min-width: 60px;
}

.footer a {
    color: ghostwhite;
    transition:all 0.2s ;
        -webkit-transition:all 0.2s ;
        -o-transition:all 0.2s ;
        -moz-transition:all 0.2s ;
}
.footer a:hover {
    color: #6d6d6d;
}

.contact-footer li{
    position: relative;
    display: block;
    list-style: none;
    bottom: 10px;
}

.social-buttons {
    top: 100px;
}

.social-buttons li{
    bottom: 10px;
    position: relative;
    float: right;
    list-style: none;
    display: inline-block;
}