

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    height: 100%;
    display: block;
}

.content {
    display: block;
    margin-top: 2em;
    color: ghostwhite;
}

.leftskew {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    position: absolute;
}

.rightskew {
    -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    position: absolute;
}

article {
    height: 100%;
}

.info {
    background-color: #003b60;
    z-index: 3;
}

.countdown {
    background-color: #000;
    z-index: 3;
}

.program {
    background-color: #e9d15f;
    z-index: 2;
    margin-top: 225px;
}

.mad {
    background-color: #508749;
    z-index: 2;
    margin-top: 225px;
}

.partnere {
    background-color: lightblue;
    z-index: 1;
    margin-top: 450px;
}

.talent {
    background-color: #ef661c;
    z-index: 1;
    margin-top: 450px;
}

.box {
    padding: 4em;
    height: 100%;
}

.box-header {
    font-weight: 700;
    border-bottom: 4px solid white;
    padding-bottom: 10px;
}

.box-header:after {
    
}

.box-paragraph












